#### wifiloader
#
type wifiloader, coredomain, domain;
type wifiloader_exec, system_file_type, exec_type, file_type;

init_daemon_domain(wifiloader)

allow wifiloader proc:file r_file_perms;
allow wifiloader sysfs:file r_file_perms;
